.tableTennisMatches{
    width: 70%;
    border-radius: 0.5em;
}

@media (max-width: 768px) {
    .titleresultsTennisMatches {
      font-size: 1em;
      width: 95%;
    }
    .titleTournamentResultsTennisMatches{
        font-size: 1em;
    }
    .tableTennisMatches{
        width: 95%;
        font-size: 8px;
    }
}