  .boxDesignNewTournament {
    display: flex;
    min-width: 40vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 1em;
    background-color:  rgb(243, 160, 87);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
  }

  .longDatePicker{
    width: 15em;
  }

  @media (max-width: 768px) {
    .boxDesignNewTournament {
      min-width: 90%;
    }
    .longDatePicker{
      width: 10em;
    }
  }