.playersTournamentsDesign {
    min-height: 85vh;
    max-width: 100vw;
    background-color: rgb(192, 97, 47);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
  }
.titlePlayersTournamentsDesign {
    border-bottom: 0.15em solid white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
  }

.tablePlayersTournamentsDesign {
    margin-top: 2em;
    max-width: 80%;
    }


@media (max-width: 768px) {
    .tablePlayersTournamentsDesign {
      font-size: 5px;
      max-width: 95%
    }
}