  .tournamentMessageDesign{
    padding-top: 4em;
  }

  .boxImageTournamentDesign{
    height: 20em;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2em;
  }
  .imgTournamentDesign {
    width: 30em;
    border-radius: 1em;
  }

  .buttonTournamentDesign{
    height: 2.2em;
    background-color: white;
    border: white;
    border-radius: 0.5em;
    width: 20em;

  }
  .buttonTournamentDesign:hover{
    background-color: yellow;
  }

  .boxButtonsDesign{
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 2em;
    gap: 0.5em;
  }

  @media (max-width: 768px) {
    .titleTournamentDesign{
        width: 90%;
        font-size: 18px
    }
    .imgTournamentDesign {
        width: 15em;
      }
    .boxImageTournamentDesign{
        justify-content: center;
        height: auto;
    }
    .boxButtonsDesign{
        align-items: center;
        height: auto;
    }
    .buttonTournamentDesign{
        width: 13em;
        height: 1.5em;
    }
}