  .tableResultsDesign{
    margin-top: 2em;
    max-width: 60%;
  }

  .sectionBtnsBottomTable{
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: end;
  }

  .inputsResultDesign{
    width: auto;
    border-radius: 0.3em;
    border: solid black 2px;
  }

  @media (max-width: 768px) {
    .tableResultsDesign {
      font-size: 0.6em;
      max-width: 95%
    }
    .sectionBtnsBottomTable{
      width: 90%;
    }
    .inputsResultDesign{
      width: 4em;
    }
}