.tableProfileDesign{
    width: 40%;
}

.titleRowTable{
  background-color: rgb(171, 171, 171) !important;
}
.buttonsAdminProfile{
  display: flex;
  color: white;
}

.btnNavigatorProfile{
  border-radius: 0.5em;
  border: solid 2px;
  background-color: blue;
  color: white;
  height: 2.2em;
}
.btnNavigatorProfile:hover{
  border: blue solid 2px;
}

@media (max-width: 768px){
    .tableProfileDesign{
        width: 95%;
        font-size: 0.8em;
    }
    .titleProfileDesign {
      width: 95%;
    }
    .buttonsAdminProfile{
      color: white;
    }
}