.navigatorDesign{
    height: 2em;
    width: 8em;
    background-color:rgb(225, 81, 8);
    border-radius: 0.5em;
    border: 0.1em solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    transition: 0.3s;
}

.navigatorDesign:hover{
    background-color:white;
    font-weight: bold;
    color: black;
    transition: 0.3s;
}