.tennisMatchMessageDesign {
  padding-top: 4em;
}

.calendarDesign {
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.col1TennisMatches {
  display: flex;
  justify-content: end;
  height: 18em;
}

.col2TennisMatches {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 20em;
}

.btnTennisMatches {
  background-color: yellow;
  border-radius: 0.5em;
  border: black solid 2px;
  height: 2.5em;
  margin-bottom: 1em;
}

.btnTennisMatches:hover {
  border: yellow solid 2px;
  font-weight: bold;
}

.addMatchBtn {
  background-color: green;
  color: white;
  margin-bottom: 0;
}
.addMatchBtn:hover {
  background-color: green;
  border: green solid 2px;
}

.inputsTennisMatchesDesign {
  border-radius: 0.5em;
  height: 2.5em;
}

.longSelect {
  min-width: 70%;
}

.containerTennisMatches {
  width: 60%;
}

.labelPlayerAlign {
  display: flex;
  justify-content: space-between;
}

.incalendarDesign{
  padding: 1em;
}
.dateSelected{
  font-size: 1.2em;
}
.textPlayer{
  font-size: 1.2em;
}
.react-calendar__month-view__days__day {
  background-color: white;
  color: black;
}
.react-calendar__month-view__days__day--weekend {
  color: blue;
  font-weight: bold;
}
.iconDesign{
  color: black;
}

@media (max-width: 768px) {
  .calendarDesign {
    font-size: 0.7em;
  }
  .col1TennisMatches {
    justify-content: center;
    height: auto;
  }
  .col2TennisMatches {
    justify-content: center;
    height: auto;
  }
  .dateSelected {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    font-size: 1em;
  }
  .containerTennisMatches {
    width: 100%;
  }
  .labelPlayerAlign {
    justify-content: space-between;
  }
  .titleTennisMatchDesign {
    width: 90%;
  }
  .inputsTennisMatchesDesign{
    height: auto;
  }
  .btnTennisMatches{
    height: auto;
  }
  .textPlayer{
    font-size: 1em;
  }
}
