.inputBasicDesign {
  width: 25em;
  height: 2.5em;
  border: 0.2em solid rgba(0, 0, 0, 0.9);
  border-radius: 0.5em;
  margin: 0.5em;
}

.inputErrorDesign {
  border: 0.2em solid red;
}

@media (max-width: 768px) {
  .inputBasicDesign {
    width: 15em;
  }
  .inputErrorDesign {
    width: 15em;
  }
}
