.headerDesign{
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 100vw;
    height: 8vh;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    }
    .headerAdjustment{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .imgHeader{
        height: 12vh;
        min-width: 100%;
    }
@media (max-width: 768px) {
    .textNavigator {
        display: none;
    }
    .headerAdjustment{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 95%;
    }
    .imgHeader{
        min-height: 10vh;
        max-width: 100%;
    }
}