.tableClassification{
    width: 50%;
}

.boxTitleDesign{
    background-color: rgb(251, 251, 71);
    margin-top: 1em;
    margin-bottom: 1em;
    width: 60%;
    border-radius: 1em;
    color: black;
    box-shadow: inset;
}

@media (max-width: 768px) {
    .titleClassification {
      font-size: 1em;
    }
    .titleTournamentClassification{
        font-size: 1em;
    }
    .tableClassification{
        width: 95%;
        font-size: 0.6em;
    }
    .titleClassification{
        width: 95%;
    }
}