.tableTournamentDesign {
  max-width: 60%;
}
.goButtonDesign{
  background-color: green;
  border-radius: 0.5em;
  border: white solid 2px;
  color: white;
}
.goButtonDesign:hover{
  border:green solid 2px;
}
.witdtSelectedTournament{
  width: 20em ;
}

@media (max-width: 768px) {
  .tournamentsDesign {
    font-size: 10px;
  }
  .tableTournamentDesign {
    width: 95%;
  }
}
