.titleTournamentBase{
    margin-bottom: 1em;
}

.tableAllTennisMatches{
    max-width: 70%;
}

.goButtonDelete{
    background-color: red;
    width: auto;
}
.goButtonDelete:hover{
    border-color: red;
}

@media (max-width: 768px){
    .tableAllTennisMatches{
        max-width: 95%;
        font-size: 7px;
    }
}